.entire_project_list ul li{

}

.entire_project_list ul{
  display: flow-root;
  list-style-type: none;
  justify-content: space-around;
}
.info{
  background-color: #FFACAC;
  height:250px;
  width: 860px;
}

.info ul li {
    width: 600px;
}

.info ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.line{
  color: white;
}

.view ul li {
    width: 170px;
}

.view ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.titlemobile{
  font-family: 'Playfair Display SC', serif;
  font-size: 0px;
}
.title{
  font-family: 'Playfair Display SC', serif;
}
.information_project{
  font-family: 'El Messiri', sans-serif;
  font-size: 14px;
  color: #332C2C;
}
.image_size{
  height: 250px;
  width: 400px;
}

.button-style-view{
  background-color: black;
  border: none;
  height: 40px;
  width: 150px;
  font-family: 'Playfair Display SC', serif;
  font-size: 9px;
  color: white;
}

.button-style-view:hover{
  background-color: white;
  color: black;
}

.mobile_project{
  display: none;
}

.mobile_image{
  height: 200px;
  width: 300px;
}

/* MEDIA QUERIES */


/* MEDIA QUERIES  */

@media screen and (max-width: 907px){
  .info{
  height:210px;
  width: 650px;
  }

  .info ul li {
    width: 300px;
}
.image_size{
  height: 210px;
  width: 300px;
}

.button-style-view{
  height: 20px;
  width: 100px;
  font-size: 6px;
}

.information_project{
  font-family: 'El Messiri', sans-serif;
  font-size: 10px;
  color: #332C2C;


}

}

@media screen and (max-width: 698px){
  .entire_project_list{
    display: none;
  }
  .mobile_project{
    display: block;
  }
  .information_project{
    font-family: 'El Messiri', sans-serif;
    font-size: 15px;
    color: #332C2C;
}
.mobile_box{
  height: 290px;
  width: 300px;
  background-color: #F7E5E5;
  }
}

/* @media screen and (max-width: 698px){

    .info{
  height:150px;
  width: 600px;
  }

  .info ul li {
    width: 300px;
}
.image_size{
  height: 150px;
  width: 300px;
}

.button-style-view{
  height: 20px;
  width: 70px;
  font-size: 5px;
}

.information_project{
  font-family: 'El Messiri', sans-serif;
  font-size: 0px;
  color: #332C2C;


}
.view ul li {
    width: 100px;
}

}

@media screen and (max-width: 645px){


    .info{
  height:130px;
  width: 440px;
  }

  .info ul li {
    width: 200px;
}
.image_size{
  height: 130px;
  width: 250px;
}

.button-style-view{
  height: 10px;
  width: 65px;
  font-size: 5px;
}

.information_project{
  font-family: 'El Messiri', sans-serif;
  font-size: 0px;
  color: #332C2C;


}
.view ul li {
    width: 100px;
}

.title{
  font-size: 8px;
}

.line{
  font-size: 5px;
}


}

@media screen and (max-width: 487px){



    .info{
  height:130px;
  width: 400px;
  }

  .info ul li {
    width: 200px;
}
.image_size{
  height: 130px;
  width: 240px;
}

.button-style-view{
  height: 10px;
  width: 65px;
  font-size: 5px;
}

.information_project{
  font-family: 'El Messiri', sans-serif;
  font-size: 0px;
  color: #332C2C;


}
.view ul li {
    width: 100px;
    height: 20px;
}
.view ul {
    display: flow-root;
}
.title{
  font-size: 0px;
  position: absolute;
  left: 350px;
}

.line{
  font-size: 0px;
}

.solo{
  position: absolute;
  left: 360px;
}


}

@media screen and (max-width: 448px){



    .info{
  height:130px;
  width: 430px;
  }

  .info ul li {
    width: 300px;
}
.image_size{
  height: 130px;
  width: 240px;
}

.button-style-view{
  height: 10px;
  width: 65px;
  font-size: 5px;
}

.information_project{
  font-family: 'El Messiri', sans-serif;
  font-size: 0px;
  color: #332C2C;


}
.view ul li {
    width: 100px;
    height: 20px;
}
.view ul {
    display: flow-root;
}
.title{
  font-size: 0px;
  position: absolute;
  left: 350px;
}

.line{
  font-size: 0px;
}

.solo{
  position: absolute;
  left: 380px;
}

.titlemobile{
  font-family: 'Playfair Display SC', serif;
  font-size: 7px;
}

}

@media screen and (max-width: 411px){



    .info{
  height:130px;
  width: 350px;
  }

  .info ul li {
    width: 300px;
}
.image_size{
  height: 130px;
  width: 200px;
}

.button-style-view{
  height: 10px;
  width: 60px;
  font-size: 4px;
}

.information_project{
  font-family: 'El Messiri', sans-serif;
  font-size: 0px;
  color: #332C2C;


}
.view ul li {
    width: 100px;
    height: 15px;
}
.view ul {
    display: flow-root;
}
.title{
  font-size: 0px;
  position: absolute;
  left: 350px;
}

.line{
  font-size: 0px;
}

.solo{
  position: absolute;
  left: 340px;
}

.titlemobile{
  font-family: 'Playfair Display SC', serif;
  font-size: 7px;


}
.breaking{
  display: none;
}

} */
