.firstmain{
  background-image: url('../images/doc.png');
  background-repeat: no-repeat;
  height: 700px;
}
.icon{
  height:50px;
  width: 50px;
}

.top_order ul li {
    width: 700px;
    height: 60px;
}

.top_order ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.photo_notepad{
  height: 400px;
  width: 300px;
}
.photo_tele{
  height: 400px;
  width: 500px;
}
.link_for_crypt{
  color: #DC143C;
  text-decoration: none;
}
.link_for_crypt:hover{
  color: grey;
}
#right{
  text-align: left;
  padding-left: 40px;
}

.para{
  font-family: 'El Messiri', sans-serif;
  font-size: 16px;
}
.answer{
  font-family: 'Cardo', serif;
  font-size: 14px;
}
.icon_bottom{
  height:70px;
  width: 70px;
}

.question{
    font-family: 'Playfair Display SC', serif;
}

.read_more{
  font-family: 'Caveat', cursive;
  font-size: 20px;
}

.para_caption{
  font-family: 'El Messiri', sans-serif;
  font-size: 12px;
}

.heading_lead_smaller{
  font-family: 'Caveat', cursive;
  font-size: 23px;
  }
.extra{
  display:none;
}
.extra_no{
  display:none;
}
.extra_three{
  display:none;
}
.extra_four{
  display:none;
}

.links_icon{
  text-decoration: none;
  color: black;
  font-family: 'El Messiri', sans-serif;
  font-size: 16px;

}
/* MEDIA QUERIES */

@media screen and (max-width: 899px){
  .top_order ul li {
      width: 700px;
      height: 90px;
  }
}

@media screen and (max-width: 794px){
  .extra{
    display:block;
  }
}


@media screen and (max-width: 794px){
  .extra{
    display:block;
  }
}

@media screen and (max-width: 609px){
  .gif{
    height: 200px;
    width: 300px;
  }
  }
}

@media screen and (max-width: 737px){

.top_order ul li {
    width: 700px;
    height: 50px;
}

}
@media screen and (max-width: 547px){

.top_order ul li {
    width: 700px;
    height: 120px;
}

}


@media screen and (max-width: 572px){
  .extra_no{
    display:block;
  }
}

@media screen and (max-width: 511px){
  .photo_tele{
  height: 200px;
  width: 300px;
}
.photo_notepad{
  height: 250px;
  width: 200px;
}


@media screen and (max-width: 488px){
  .top_order ul li {
      width: 700px;
      height: 140px;
  }

}


@media screen and (max-width: 449px){
  .extra_three{
    display:block;
  }
}

@media screen and (max-width: 418px){
/*
.top_order ul li {
  width: 700px;
  height: 90px;
} */

}

@media screen and (max-width: 413px){
  .top_order ul li {
      width: 700px;
      height: 180px;
  }
  .photo_tele{
  height: 200px;
  width: 300px;
}
.photo_notepad{
  height: 250px;
  width: 200px;
}
}

@media screen and (max-width: 411px){
  .top_order ul li {
      width: 700px;
      height: 200px;
  }
}
