.headerp{
  background-image: url("nysky.jpg");
  background-repeat: no-repeat;
  height: 500px;
}

.topone{
  font-family: 'Oswald', sans-serif;
  color: white;
}
.sum{
  font-family: 'Exo', sans-serif;
}

.link{
  color: grey;
  text-decoration: none;
}

.link:hover{
  color: black;
}
.top{
  font-family: 'Oswald', sans-serif;
}

.homerow ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.homerow ul li{
  background-color: white;
}

.rows{
  height: 300px;
  width: 600px;
}

.rows1{
  height: 200px;
  width: 600px;
}
