.three{
  height: 400px;
  width: 300px;
}
.photothree{
  background-color: #0F97FE;
  position:absolute;
  top: 1000px;
  left: 30px;
  width: 20%;
}
.photo3{

  height: 400px;
  width: 600px;

}
.summary3{
  background-color: white;
  position: absolute;
  top: 1050px;
  right: 60px;
  width: 40%;
  height: 50%;
}
