.left{
  background-image: url('mountains.jpg');
  background-repeat: no-repeat;
  position: fixed;
  left: 0px;
  width: 30%;
  height: 100%;
}

.summary{
  position: absolute;
  top: 50px;
}
.sumtitle{
  color: white;
  font-family: 'Oswald', sans-serif;
}

.sum{
  color: white;
  font-size: 1em;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.sumlink{
  color: black;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;

}
.sumlink2{
  color: white;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;

}
.one{
  background-color: black;
  border-style: none;
  height: 50px

}
.one:hover{
  background-color: grey;
  border-style: none;
  height: 50px;
}
.sumlink2:hover{
  color: #800000;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.sumlink:hover{
  color: #800000;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.sumq{
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.sumqa{
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
}
}
