.nav{
  background-color: black;
  float: right;
}
.navi{
  color: white;
  font-family:'Oswald';
  text-decoration: none;
}
.navi:hover{
  color: grey;
}
.top{
  background-color: black;
  height:300px;
}
.head1{
  font-family:'Oswald';
  color: white;
}
.head2{
  font-family:'Kaushan Script';
  color: white;
}

.firsthalf{
  background-image: url('firsthalfphoto.png');
  height: 570px;
  width: 1080px;
}

.secondhalf{
  background-image: url('secondhalfphoto.png');
  height: 570px;
  width: 1080px;
}

.thirdhalf{
  background-image: url('thirdphoto.png');
  height: 570px;
  width: 1080px;
}
